.container-error {
  display: flex;
  flex-direction: column;
  gap: 7rem;
  padding-bottom: 6rem;

  h2 {
    font-size: 18rem;
    font-weight: 700;
    text-align: center;
    color: $color1;
    margin-top: 2rem;
    @include xsmall {
      font-size: 10rem;
    }
    @include xxsmall {
      font-size: calc(98rem / 16);
    }
  }

  p {
    font-size: 2.25rem;
    line-height: 142.6%;
    text-align: center;
    color: $color1;
    @include xsmall {
      font-size: 1.8rem;
    }
    @include xxsmall {
      font-size: calc(18rem / 16);
    }
  }

  .back {
    text-align: center;
    color: $color1;
    animation: pulsating 2s 0.5s;
    @include xxsmall {
      font-size: calc(14rem / 16);
    }
  }
}

@keyframes pulsating {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
