.collapse-container {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;

  @include xsmall {
    gap: 1.25rem;
  }
}

.collapse {
  max-width: 1023px;
  margin: auto;
  position: relative;

  &__label {
    padding: calc(10rem / 16) calc(20rem / 16) calc(10rem / 16) calc(15rem / 16);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: calc(5rem / 16);
    width: 100%;
    height: 52px;
    background-color: $color1;
    font-size: 1.5rem;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;

    @include xsmall {
      padding: calc(10rem / 16) calc(6rem / 16) calc(10rem / 16)
        calc(10rem / 16);
      font-size: calc(13rem / 16);
      height: 30px;
    }

    img {
      transition: transform 0.5s ease-in-out;

      @include xsmall {
        width: 1.25rem;
      }
    }

    .rotated {
      transform: rotate(-180deg);
    }

    &:hover {
      opacity: 0.8;
    }
  }

  &__joiner {
    height: calc(10rem / 16);
    content: "";
    position: absolute;
    background-color: $color2;
    top: 47px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;

    @include xsmall {
      top: 25px;
    }
  }

  &__content {
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    background-color: $color2;
    border-radius: calc(5rem / 16);

    p,
    ul {
      padding: 1.5rem;
    }

    p,
    li {
      font-size: 1.125rem;
      font-weight: 400;
      color: $color1;

      @include xsmall {
        font-size: 0.75rem;
      }
    }
  }
}
